@font-face {
  font-family: "ARS Maquette Pro Light";
  src: url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.eot");
  src: url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.svg#ARS Maquette Pro Light")
      format("svg");
}

@font-face {
  font-family: "ARS Maquette Pro Light Italic";
  src: url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.eot");
  src: url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.svg#ARS Maquette Pro Light")
      format("svg");
}
