@font-face {
  font-family: "ARS Maquette Pro Light";
  src: url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.eot");
  src: url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.woff") format("woff"), url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4629c048a3822d4fed2b0472eb3e708f.svg#ARS Maquette Pro Light") format("svg");
}

@font-face {
  font-family: "ARS Maquette Pro Light Italic";
  src: url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.eot");
  src: url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.woff") format("woff"), url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/64327e375a92a66cab1ca557d12cfae0.svg#ARS Maquette Pro Light") format("svg");
}

.App-logo {
  height: 70px;
  pointer-events: none;
  display: block;
  margin: auto;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  color: #fff;
}

.App-link {
  font-family: ARS Maquette Pro Light Italic;
  font: bold 16px/1.4 ARS Maquette Pro Light;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.App-link:hover {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.App-header h1 {
  font-family: ARS Maquette Pro Light;
  color: #61dafb;
}

.App-footer {
  background-color: #282c34;
  min-height: 300px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #61dafb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App-footer .like-state {
  width: 50%;
}

.App-footer .like-state p {
  font: bold 16px/1.4 ARS Maquette Pro Light;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

.App-footer .like-state button {
  font: bold 16px/1.4 ARS Maquette Pro Light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border-radius: 15px;
  padding: 10px 30px;
}

.carditem {
  width: 31%;
  margin: 5% 1%;
}

.carditem h3 {
  font-size: 30px;
}

.first-comp {
  text-align: center;
}

.classcomp {
  text-align: center;
  background: rgba(128, 128, 128, 0.589);
  color: #61dafb;
  margin: 0;
  z-index: 1;
}

.heading {
  font: bold 16px/1.4 ARS Maquette Pro Light;
  font-size: 30px;
  text-align: center;
  background: #61dafb;
  color: #282c34;
  padding: 10px 0;
  margin: 0;
}

.classcomp {
  background: transparent url("../src/img/banner_background.jpg") no-repeat;
  background-size: cover;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #282c34;
  font: bold 16px/1.4 ARS Maquette Pro Light;
}

.products img {
  height: 200px;
}

.products a {
  color: #282c34;
  background-color: #61dafb;
  text-decoration: underline;
}

.products-detail {
  text-align: center;
}

.products-detail h3 {
  color: #24b624;
  font-size: 30px;
}

.products-detail img {
  margin-top: 20px;
  height: 300px;
}

.products-detail p {
  font: bold 16px/1.4 ARS Maquette Pro Light;
  font-family: ARS Maquette Pro Light Italic;
  max-width: 610px;
  margin: 0 auto 30px;
}

.home-page {
  background: transparent url("../src/img/homepage.jpg") no-repeat;
  background-size: cover;
}

.home-page a {
  font-size: 30px;
  color: white;
  display: block;
  text-align: center;
  margin: auto;
}

.home-page a:hover {
  color: #61dafb;
}

.form-comp {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: bold 16px/1.4 ARS Maquette Pro Light;
}

.form-comp input[type="text"],
.form-comp input[type="email"],
.form-comp input[type="submit"] {
  margin-bottom: 15px;
  font: bold 16px/1.4 ARS Maquette Pro Light;
  width: 100%;
  height: 50px;
}

.form-comp input[type="submit"] {
  margin: 20px auto 0;
  color: #61dafb;
  background-color: #282c34;
  border: none;
  width: 50%;
  cursor: pointer;
}

.form-comp input[type="submit"]:hover {
  color: #282c34;
  background-color: #61dafb;
}

.form-comp label {
  display: block;
}

.copyright-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-height: 100px;
  background: black;
  font: bold 16px/1.4 ARS Maquette Pro Light;
  font-size: 15px;
  font-family: ARS Maquette Pro Light Italic;
}
/*# sourceMappingURL=App.css.map */